body {
    font-family: 'Tajawal', sans-serif;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

.card, .navbar {
    border-radius: 10px;
}

h1 {
    font-weight: bold;
    color: #4c7cff;
}